@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* CORES DO CLIENTE - MUDE AQUI */
  --primary: #E63946;
  /* Cor Principal */
  --secondary: #FFB703;
  /* Cor Secundária */
  --accent: #FB8500;
  /* Cor de Destaque */

  --muted: #F1F5F9;
  --muted-foreground: #64748B;
  --card: #FFFFFF;
  --card-foreground: #020617;
  --primary-foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Estilos para Impressão de Comanda (Impressora Térmica) */
@media print {
  body * {
    visibility: hidden;
  }

  #printable-receipt,
  #printable-receipt * {
    visibility: visible;
  }

  #printable-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 80mm;
    /* Tamanho padrão de impressora térmica */
    color: black !important;
    background: white !important;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
  }

  @page {
    margin: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui;
  -webkit-font-smoothing: antialiased;
}